<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Dashboard</title>
</head>
<body class="bg-gradient-to-r from-black to-current">
    <%- include('./partials/nav') %>
    <%- include('./partials/dashboard') %>
    <%- include('./partials/myBlog') %>
    <%- include('./partials/script'); %>
</body>
  </html>